In [1]:
import pandas as pd

In [7]:
df = pd.read_spss('matrimonios_2015.sav')

In [8]:
df.head()

,DEPREG,MUPREG,MESREG,AÑOREG,AÑOOCU,CLAUNI,NUNUHO,NUNUMU,EDADHOM,EDADMUJ,...,NACMUJ,ESCHOM,ESCMUJ,CIUOHOM,CIUOMUJ,DEPOCU,MUPOCU,DIAOCU,MESOCU,AREAGOCU
0,Guatemala,Guatemala,Agosto,2015.0,2015.0,Comunidad de gananciales,Ignorado,Ignorado,34.0,32.0,...,Guatemala,Diversificado,Universitario,No especificado en otro grupo,"Profesionales en derecho, en ciencias sociales...",Guatemala,Guatemala,9.0,Agosto,Urbano
1,Chimaltenango,Chimaltenango,Julio,2015.0,2015.0,Comunidad de gananciales,Ignorado,Ignorado,28.0,29.0,...,Guatemala,Primaria,Diversificado,No especificado en otro grupo,No especificado en otro grupo,Guatemala,Guatemala,28.0,Junio,Urbano
2,San Marcos,Malacatán,Julio,2015.0,2015.0,Comunidad de gananciales,1.0,1.0,30.0,22.0,...,Guatemala,Diversificado,Básico,No especificado en otro grupo,No especificado en otro grupo,San Marcos,Malacatán,11.0,Julio,Ignorado
3,Huehuetenango,San Sebastián Huehuetenango,Enero,2015.0,2015.0,Comunidad de gananciales,1.0,1.0,58.0,54.0,...,Guatemala,Ninguno,Ninguno,Agricultores y trabajadores calificados de exp...,No especificado en otro grupo,Huehuetenango,San Sebastián Huehuetenango,9.0,Enero,Urbano
4,Alta Verapaz,San Pedro Carchá,Enero,2016.0,2015.0,Comunidad de gananciales,Ignorado,Ignorado,31.0,28.0,...,Guatemala,Primaria,Básico,Agricultores y trabajadores calificados de exp...,No especificado en otro grupo,Alta Verapaz,San Pedro Carchá,9.0,Diciembre,Urbano

In [9]:
df.describe()

             AÑOREG   AÑOOCU        DIAOCU
count  79177.000000  79177.0  79177.000000
mean    2015.085416   2015.0     16.473016
std        0.279502      0.0      8.541031
min     2015.000000   2015.0      1.000000
25%     2015.000000   2015.0      9.000000
50%     2015.000000   2015.0     17.000000
75%     2015.000000   2015.0     24.000000
max     2016.000000   2015.0     31.000000